{%load static%}
<header class="header">
  <div class="container container--narrow">
    <a href="/" class="header__logo" style="float:left">
      <img id="nav-logo" src="{% static 'images/logo.png'%}" alt="TalentMine" />
    </a>
    <nav class="header__nav">
      <input type="checkbox" id="responsive-menu" />
      <label for="responsive-menu" class="toggle-menu">
        <span>Menu</span>
        <div class="toggle-menu__lines"></div>
      </label>
      <ul class="header__menu" style="background-color:#002147">
        <li class="header__menuItem"><a href="/users">Hire</a></li>
        <li class="header__menuItem"><a href="/project">Explore Talent</a></li>
        {%if request.user.is_authenticated%}
            <li class="header__menuItem"><a href="{%url 'inbox'%}">Inbox</a></li>
            <li class="header__menuItem"><a href="{%url 'account'%}">My Account</a></li>
            <li class="header__menuItem"><a href="{%url 'logout'%}" class="btn btn--sub">Logout</a></li>
        {%else%}
            <li class="header__menuItem"><a href="{%url 'login'%}" class="btn btn--sub">Login/Signup</a></li>
        {%endif%}

      </ul>
    </nav>
  </div>
</header>
