{%load static%}
<header class="header">
  <div class="container container--narrow">
    <a href="/" class="header__logo">
      <img id="nav-logo" src="{% static 'images/logo.png'%}" alt="TalentMine" />
    </a>
    <nav class="header__nav">
      <input type="checkbox" id="responsive-menu" />
      <label for="responsive-menu" class="toggle-menu">
        <span>Menu</span>
        <div class="toggle-menu__lines"></div>
      </label>
      <ul class="header__menu">
        <li class="header__menuItem"><a href="/users">Hire</a></li>
        <li class="header__menuItem"><a href="/project">Explore Talent</a></li>
        <li class="header__menuItem"><a href="">Inbox</a></li>
        <li class="header__menuItem"><a href="">My Account</a></li>
        <li class="header__menuItem"><a href="{%url 'create-project'%}" class="btn btn--sub">Showcase Talent</a></li>
        <li class="header__menuItem"><a href="" class="btn btn--sub">Login/Sign Up</a></li>
      </ul>
    </nav>
  </div>
</header>
