#heading-landing{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    color: #000;
    text-align: center;
    box-sizing: inherit;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    font-family: Founders Grotesk, sans-serif;
    line-height: 1.05;
    font-weight: 800;
    font-size: 40px;
    white-space: pre-line;
    margin-bottom: 24px;
}

#para-landing{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    color: #000;
    text-align: center;
    box-sizing: inherit;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    padding: 0;
    font-size: 20px;
    line-height: 1.5;
    display: block;


}

#landing-container{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-size-adjust: 100%;
color: #000;
box-sizing: inherit;
border: 0;
font: inherit;
font-size: 100%;
vertical-align: baseline;
width: 100%;
max-width: 1136px;
margin: 0 auto;
text-align: center;
padding: 0 32px;
}

#landing-text{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-size-adjust: 100%;
color: #000;
text-align: center;
box-sizing: inherit;
border: 0;
font: inherit;
font-size: 100%;
vertical-align: baseline;
margin: 0 auto;
width: 80%;
padding: 88px 0;
}

#navbar{
    -webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-size-adjust: 100%;
color: #162040;
margin: 0;
padding: 0;
border: 0;
font: inherit;
font-size: 100%;
vertical-align: baseline;
box-sizing: border-box;
float: left;
padding-left: 14px;
padding-right: 14px;
position: relative;
width: 100%;
}

#nav-logo{
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    text-align: center;
    aspect-ratio: auto 800 / 600;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-size: 9px;
    color: transparent;
    line-height: 1.25;
    text-overflow: ellipsis;
    -webkit-font-smoothing: antialiased;
    height: auto;
    margin-bottom: 4px;
    width: 150px;
}

#landing-cols{
    -webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-size-adjust: 100%;
color: #000;
text-align: center;
box-sizing: inherit;
border: 0;
font: inherit;
font-size: 100%;
vertical-align: baseline;
display: flex;
flex-direction: row;
align-items: flex-start;
min-width: 0;
min-height: 0;
flex-wrap: wrap;
padding: 0;
justify-content: space-between;
width: 67%;
margin: 0 auto 144px auto;
}
#recruit-talent{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    color: #000;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    text-align: center;
    align-items: center;
    margin-bottom: 0;
    width: 47%;
}

.anchor-landing{
    -webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-size-adjust: 100%;
box-sizing: inherit;
margin: 0;
font: inherit;
vertical-align: baseline;
margin-top: 16px;
font-family: Founders Grotesk, sans-serif;
padding: 16px 32px;
border-radius: 4px;
text-align: center;
border: none;
background: #002e63;
color: #fff;
cursor: pointer;
text-decoration: none;
font-weight: 500;
font-size: 20px;
line-height: 1.5;
}

.styles_unitTitle__3eW7l{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-size-adjust: 100%;
color: #000;
box-sizing: inherit;
padding: 0;
border: 0;
font: inherit;
font-size: 100%;
vertical-align: baseline;
text-align: center;
display: block;
margin: 0;
width: 100%;
}

#talent-landing{
text-rendering: optimizeLegibility;
text-size-adjust: 100%;
text-align: center;
aspect-ratio: auto 65 / 65;
width: 105px;
box-sizing: inherit;
margin: 0;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;
font-size: 15px;
color: transparent;
line-height: 1.5;
text-overflow: ellipsis;
-webkit-font-smoothing: antialiased;
height: auto;
max-height: 105px;
}
.landing-para{
    -webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-size-adjust: 100%;
text-align: center;
box-sizing: inherit;
border: 0;
font: inherit;
font-size: 100%;
vertical-align: baseline;
margin: 0;
padding: 0;
color: #000;
margin-bottom: 30px;
cursor: default;
}


/* ====Css for landing page above */

/* css for feed */

/* ====CSS for feed section==== */

.body__main{
    display: flex;
    max-width: 1200px;
    margin-left:10%;
    margin-top: 2%;


}

/* ====This is the side bar section*/

/* sidebar top */
.sidebar{
    position: sticky;
    top: 80px;
    flex: 0.3;
    border-radius:10px;
    text-align: center;
    height: fit-content;
}

.sidebar__top img{
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    object-fit: cover;

}

.sidebar__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;

}


.sidebar__topAvatar{
    font-size: 40px;
}

.sidebar__stats{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    border-bottom-right-radius:10px;
}

.sidebar__stat{
    margin-top: 10px;
    display: flex;
    justify-content:space-between;
}

.sidebar__top h4 {
    color: gray;
    font-size: 12px;
    margin-top: 5px;
}

.sidebar__top h2 {
    font-size: 18px;
}


/* feed section */

.feed{
    flex: 0.7;
    margin:0 20px;
}

.feed__inputContainer{
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px
}

.feed_input {
    border: 1px solid lightgrey;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;

}

.feed_input form {
    display: flex;
    width: 100%;
}

.feed_input form input {
    border: none;
    flex:1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}

.feed__inputOptions{
    display: flex;
    justify-content: space-evenly;
}

.inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color:gray;
    padding: 10px;
    cursor:pointer;
}

.inputOption:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}

.inputOption h6{
    margin-left: 5px;
}

/* posts section */

.post{
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.post__header{
    display: flex;
    margin-bottom: 10px;
}

.post_info{
    margin-left: 10px;
}

.post_info p{
    font-size: 12px;
}

.post_info h2 {
    font-size: 15px;
}

#likeBtn{
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48;
  color: red;
}
