<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>TalentMine</title>
    </head>
    <body>
        {% extends 'main.html'%}
        {% block content %}
        <hr>
        <h1>Projects</h1>
        <ul>
            {% for project in projects%}
                <table>
                    <tr>
                        <!-- <th>ID</th> {{project.id}} -->
                        <th>Project  <a href="{%url 'project' project.id%}">{{project.title}} </a>  </th>
                        <th>Votes {{project.vote_total}} </th>
                        <th>Ratio  {{project.vote_ratio}}% </th>
                        <th> <a href="{%url 'update-project' project.id%}">Edit</a></th>
                        <th> <a href="{% url 'delete-project' project.id%}">Delete</a></th>
                    </tr>
                </table>
            {%endfor%}
        </ul>


        {% endblock content%}
    </body>
</html>
