{%extends 'main.html'%}
{%block content%}
  <!-- Main Section -->
  <main class="messagePage my-xl">
    <div class="content-box">
      <div class="message">
         <a class="backButton" style="margin:3rem;;background-color:#583461!important;color:white;"  href="{%url 'inbox' %}"><i class="fa-solid fa-angle-left"></i></a>
        <h2 class="message__subject" style="color:rgba(135, 56, 156,0.9)!important;">{{message.subject}}</h4>

            {% if message.sender%}
                <a href="{%url 'user-profile' message.sender.id%}" class="message__author"style="color:#5a5d6f;" >{{message.name}}</a>
            {%else%}
                <p class="message__author"style="color:#5a5d6f;">{{message.name}}</p>
            {%endif%}
          <p class="message__date" style="color:#5a5d6f;">{{message.created}}</p>
          <div class="message__body" style="color:#5a5d6f;">
              {{message.body|linebreaksbr}}
          </div>
      </div>
    </div>
  </main>
 {%endblock%}
