{%extends 'main.html'%}

{%block content%}

<main class="profile my-md">
  <div class="container">
      <a class="backButton" style="margin:3rem;;background-color:#583461!important;color:white;"  href="{%url 'profiles' %}"><i class="fa-solid fa-angle-left"></i></a>
    <div class="layout">
      <div class="column column--1of3">
        <div class="card text-center">
          <div class="card__body dev">
            <img class="avatar avatar--xl" src="{{profile.imageUrl}}" style="border-radius:0px"/>
            <h2 class="dev__name" style="color:#583461">{{profile.name}}</h2>
            <p class="dev__title" style="color:#5a5d6f;">{{profile.short_intro}}</p>
            <p class="dev__location" style="color:#5a5d6f;">Based in {{profile.location}}</p>
            <ul class="dev__social">
             {%if profile.social_github%}
                <li>
                    <a title="Github" href="{{profile.social_github}}" target="_blank"><i class="im im-github"></i></a>
                </li>
            {%endif%}
            {%if profile.social_twitter%}
              <li>
                <a title="Twitter" href="{{profile.social_twitter}}" target="_blank"><i class="im im-twitter"></i></a>
              </li>
            {%endif%}
            {%if profile.social_linkedin%}
              <li>
                <a title="LinkedIn" href="{{profile.social_linkedin}}" target="_blank"><i class="im im-linkedin"></i></a>
              </li>
             {%endif%}
             {%if profile.social_website%}
                <li>
                    <a title="Personal Website" href="{{profile.social_website}}" target="_blank"><i class="im im-globe"></i></a>
                </li>
            {%endif%}
            </ul>

            <a style="background-color:rgb(88,38,101)"href="{%url 'create-message' profile.id%}" class="btn btn--sub btn--lg">Send Message </a>

          </div>
        </div>
      </div>
      <div class="column column--2of3" style="background-color:white; padding:30px;box-shadow: -1px 1px 43px 1px rgba(0,0,0,0.14);
-webkit-box-shadow: -1px 1px 43px 1px rgba(0,0,0,0.14);
-moz-box-shadow: -1px 1px 43px 1px rgba(0,0,0,0.14);">
        <div class="devInfo">
          <h3 class="devInfo__title" style="color:#583461" >About Me</h3>
          <p class="devInfo__about" style="color:#5a5d6f;">
            {{profile.bio}}
          </p>
        </div>
        <div class="devInfo">
          <h3 class="devInfo__title" style="color:#583461">Skills</h3>
          <div class="devInfo__skills">

            {%for skill in topSkills%}
            <div class="devSkill">
              <h4 class="devSkill__title" style="color:#30323d">{{skill.name}}</h4>
              <p class="devSkill__info" style="color:#5a5d6f;">
                {{skill.description}}
              </p>
            </div>
            {%endfor%}

            <h3 class="devInfo__subtitle" style="color:#583461">Other Skills</h3>
            <div class="devInfo__otherSkills">
                {%for skill in otherSkills%}
              <span class="tag tag--pill  tag--lg" style="background-color:rgba(135, 56, 156,0.9)!important ; color:white">
                <small>{{skill.name}}</small>
              </span>
              {%endfor%}
            </div>

          </div>
        </div>
        <div class="devInfo">
          <h3 class="devInfo__title" style="color:#583461">Work</h3>
          <div class="grid grid--two">

            {% for project in profile.project_set.all%}
            <div class="column">
              <div class="card project">
                <a href="{%url 'project' project.id%}" class="project">
                  <img class="project__thumbnail" src="{{ project.imageUrl }}" alt="project thumbnail" />
                  <div class="card__body">
                    <h3 class="project__title">{{project.title}}</h3>
                    <p><a class="project__author" href="">By {{project.owner.name}}</a></p>
                    <p class="project--rating">
                      <span style="font-weight: bold;">{{project.vote_ratio}}%</span> Postitive
                      Feedback ({{project.vote_total}} Vote{{project.vote_total|pluralize:"s"}})
                    </p>

                    <div class="project__tags">
                        {%for tag in project.tags.all%}
                        <span class="tag tag--pill tag--main">
                          <small>{{tag}}</small>
                        </span>
                        {%endfor%}
                    </div>

                  </div>
                </a>
              </div>
            </div>
            {%endfor%}



          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{%endblock content%}
