{%extends 'main.html'%}

{%block content%}




<main class="formPage my-xl">
 <div class="content-box">
     <div class="formWrapper">

         <h3  >Delete Skill</h3>

         <form class="form" method="POST">
             {% csrf_token %}
             <div class="form__field">
                 <label for="formInput#text"><h6> Sure you want to Delete <span style="color:red" >"{{object}}"</span>  </h6></label>
                 <a href="{%url 'account'%}">Cancel</a>
             </div>
             <input class="btn btn--sub btn--md  my-md" type="submit" value="Confirm" />

         </form>
     </div>
 </div>
</main>

{%endblock %}
