{%if queryset.has_other_pages%}
<div class="pagination">
  <ul class="container">
      {% if queryset.has_previous %}
      <li> <a href="?page={{queryset.previous_page_number}}" class = "btn page-link" data-page="{{queryset.previous_page_number}}">&#10094; Prev</a></li>
      {%endif%}
      {% for page in custom_range%}
          {%if page == queryset.number%}
              <li> <a href="?page={{page}}" class = "btn page-link btn--sub" data-page="{{page}}" >{{page}}</a> </li>
          {%else%}
              <li> <a href="?page={{page}}" class = "btn page-link" data-page="{{page}}" >{{page}}</a> </li>
          {%endif%}
      {% endfor %}

      {% if queryset.has_next %}
      <li> <a href="?page={{queryset.next_page_number}}" class = "btn page-link" data-page="{{queryset.next_page_number}}" >Next &#10095; </a></li>
      {%endif%}

  </ul>
</div>
{%endif%}

<script type="text/javascript">


    let searchForm = document.getElementById('searchForm')
    let pageLink = document.getElementsByClassName('page-link')

    // ensure search exists
    if (searchForm) {
        for (let i=0; pageLink.length >i ;i++) {
            pageLink[i].addEventListener('click',function(e){
                    e.preventDefault()

                    let page = this.dataset.page

                    // Add Hidden Search Input to form
                    searchForm.innerHTML += `<input value=${page} name="page" hidden/>`

                    searchForm.submit()
                    })
        }
    }

</script>
